@font-face {
  font-family: 'OpenSans';
  src:
    url('../fonts/OpenSans-Bold.ttf') format('truetype'),
    url('../fonts/OpenSans-Bold.woff') format('woff'),
    url('../fonts/OpenSans-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'OpenSans';
  src:
    url('../fonts/OpenSans-Regular.ttf') format('truetype'),
    url('../fonts/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  font-family: OpenSans, sans-serif;
}

a,
li {
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 14px;
}

body {
  height: 100vh;
  font-size: 13px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}


.container {
  position: relative;
  max-width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  z-index: 3;
}

.header {
  flex: 0;
  position: relative;
  color: #fff;
  z-index: 1;

  height: 50vh;
}

.header::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.header__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.header__cap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
}

.cap__logo {
  display: block;
}

.logo_img {
  width: 184px;
}

.cap__menu {
  cursor: pointer;
}

.menu__links {
  display: flex;
  gap: 30px;
}

.menu__link {
  display: block;
}

.header__text {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding: 120px 0 140px;
}

.trends__head {
  text-align: center;

  padding: 5vh;
}

.trends__now {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.trend__card {
  position: relative;
  width: 25vw;
  flex: 1;

  height: 38vh;
}

.trend__card::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.card__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.card__content {
  position: absolute;
  top: 40%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  z-index: 3;
  color: #fff;
  border: 4px solid rgba(218, 165, 32, 0.3);
  padding: 4%;
  overflow: hidden;
}

.radio__tags {
  display: flex;
  gap: 15px;
  font-weight: 700;
  color: rgba(218, 165, 32, 0.7);
  padding-bottom: 3%;
}

.radio__tags input {
  display: none;
}

.radio__tags label {
  cursor: pointer;
}

.card__content h2 {}


.main {
  flex: 1;
}

.main .container {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 60px;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 60px;
  flex: 1;
}

.post {
  display: flex;
}

.post__image {}

.post__content {
  margin: 0 4%;
}

.posts__aside {
  flex: 0 20%;
}

.footer {
  flex: 0;
  text-align: center;

  background-color: seagreen;
}


@media (max-width: 900px) {
  .cap__menu {
    width: 30px;
    height: 30px;
    background-image: url(https://cdn-icons-png.flaticon.com/512/6015/6015685.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(0) invert(1);
  }

  .menu__links {
    display: none;
  }
}
